@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    /* min-height: 100vh; */
    /* width: 100%; */
}

/*HEADER*/
header {
    height: 80px;
/*PUEDE IR O NO*/
/*position: fixed;
width: 100%;
top: 0;
left: 0;*/
}

/*BARRA DE NAVEGACION*/
.nav0 {
    display: flex;
    justify-content: space-between;
}

.nav-lato {
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.nav-menu0 {
    display: flex;
    list-style: none;
}

.nav-menu-item0 {
    margin: 10px 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.nav2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 5px;
}

#publicity {
    background-color: #af0e4e;
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 50px;
}

.text {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

.text-b {
    margin-left: 15px;
}

/*ESTILO ENLACES*/
.nav-link {
    color: black;
    text-decoration: none;
    padding-top: 6px;
}

.nav-link2 {
    color: black;
    text-decoration: none;
    font-size: 13px;
    padding-top: 6px;
    margin: 0 5px;
    opacity: 1;
}

.nav-sale {
    color: #E02020;
}

.search1 {
    margin-top: 0;
    display: flex;
    background-color: #000;
    margin-right: 15px;
    border-radius: 5px;
}

.search-icon {
    position: relative;
    left: -9px;
}

/*BARRA DE NAVEGACION*/

.menu-hamburguer{
    display: none;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    width: 100%;
    margin-top: 7px;
}

.nav-menu2 {
    display: flex;
    list-style: none;
    background-color: #f8f8f8;
    width: 100%;
    padding: 10px;
    margin-bottom: 560px;
    justify-content: center;
}

.nav-menu-item {
    font-size: 14px;
    margin: 0px 10px;
    width: max-content;
    justify-content: center;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    display: none;
}

.nav-menu3 {
    display: flex;
    border-bottom: black 1px solid;
    width: 100%;
    justify-content: center;
}

.nav-menu-item3 {
    list-style: none;
    display: flex;
    font-size: 24px;
    padding: 20px;
    border-bottom: 1px gainsboro;
    margin: 0 5px;
}

.nav-menu-link3 {
    text-decoration: none;
    color: #555555;
}

h1 {
    border-bottom: solid 1px gainsboro;
    margin-top: 35px;
    width: 71.5%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    justify-content: space-between;
    width: 74%;
    margin: 10px auto;
}

.select {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.price-arrow {
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.caja {
    padding: 15px;
    height: 395px;
    margin-top: 10px;
    margin: 0 7px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    width: 350px;
}

.caja-p {
    font-size: 16px;
    color: #0D5C91;
}

.caja-n {
    color: #000;
    font-size: 26px;
    margin-top: 40px;
}

.caja-p2{
    font-size: 12px;
    color: #000;
    margin-top: 15px;
}

.btn {
    background-color: #0D5C91;
    border: #0D5C91;
    height: 40px;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto 0 auto;
}

.fotos {
    margin-top: 20%;
}

.box1 {
    border-bottom: solid gainsboro 1px;
    margin: 30px 0;
    line-height: 50px;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.little-box {
    background-color: #000;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    margin-right: 10px;
}

.prices {
    color: #555555;
}

.see-more {
    color: #0D5C91;
    margin-top: -15px;
}

.box1, .left {
    list-style: none;
    justify-content: center;
    font-size: 14px;
    margin: auto;
}

.price {
    border: none;
    color: #0D5C91;
    transform:matrix(2.00,0.00,-0.00,-1.00,0,0);
}

.container {
    display: flex;
    align-items: center;
}

.section1 {
    margin-left: 15px;
}

.w-mini-box {
    width: 15rem;
}

img {
    max-width: 100%;
    flex-direction: row;
}

p {
    font-size: 16px;
}

section2 {
    width: 81%;
}

.matching {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-left: 30px;
}

.matching-p {
    font-weight:600;
}

.low-high {
    margin-right: -11px;
    height: 40px;
    border: 1px solid #BCBCBC;
    width: 190px;
}

.low-high::placeholder {
    padding: 5px;
}

.price-under {
    border: none;
    color: #0D5C91;
    transform: matrix(2,0,0,1,-45,1);
}

.computers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.container2 {
    margin: 0 7px;
    border: 1px solid #BCBCBC;
    padding: 10px;
    min-height: 361px;
    min-width: 196px;
}

.doorbuster {
    color: #fff;
    background-color: #AF0200;
    font-size: 14px;
    height: 30px;
    width: 72%;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-weight: 200;
}

.card-title {
    color: #0D5C91;
    font-size: 14px;
    font-weight: 700;
}

.card-price {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 500;
}

.card-coupon {
    font-size: 12px;
    margin-top: 10px;
}

.yoga {
    font-weight: 750;
    font-size: 12px;
    color: #000;
}

.card-img-2 {
    margin-top: 45px;
}

footer {
    background-color: #af0e4e;
    width: 74%;
    margin: 30px auto;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 20px;
}

.responsive {
    display: none;
    list-style: none;
}

.search2 {
    font-size: 14px;
    margin-right: 19px;
    width: 400px;
    height: 35px;
    border-radius: 5px;
}

.search2::placeholder {
    opacity: 1;
    color: #000;
    font-size: 14px;
    padding: 10px;
}

@media (min-width: 320px) and (max-width: 359px) {
    .nav-menu0, .nav-menu,
    .nav2, .nav3 {
        display: none;
    }

    .nav {
        margin-top: 20px;
    }

    .search2 {
        width: 300px;
    }

    #publicity {
        text-align: center;
    }

    .text {
        font-size: 0.5rem;
    }

    .foot {
        font-size: 0.5rem;
    }

    main {
        flex-direction: column;
    }

    section2 {
        width: 100%
    }

    .matching {
        flex-direction: column;
    }

    .matching-p {
        margin-bottom: 10px;
    }

    .menu-hamburguer {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
    }

    .computers {
        flex-wrap: wrap;
    }

    .container2 {
        margin: 20px 0;
        width: 200px;
    }

    .nav-menu3 {
        flex-direction: column;
        align-items: center;
    }

    .search1 {
        margin: 0 auto;
    }
}

@media (min-width: 360px) and (max-width: 398px) {
    .price-under {
        position: relative;
        left: 5px;
    }

    .menu-hamburguer {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
    }

    .nav-menu3 {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 360px) and (max-width: 449px) {
    .nav-menu0, .nav-menu,
    .nav2, .nav3 {
        display: none;
    }

    .nav {
        margin-top: 20px;
    }

    .search2 {
        width: 300px;
    }

    #publicity {
        text-align: center;
    }

    .text {
        font-size: 0.5rem;
    }

    .foot {
        font-size: 0.5rem;
    }

    main {
        flex-direction: column;
    }

    section2 {
        width: 100%
    }

    .matching {
        flex-direction: column;
    }

    .matching-p {
        margin-bottom: 10px;
    }

    .menu-hamburguer {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
    }

    .computers {
        flex-wrap: wrap;
    }

    .container2 {
        margin: 20px 0;
        width: 200px;
    }

    .nav-menu3 {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 450px) and (max-width: 600px) {
    .nav-menu,
    .nav2, .nav3 {
        display: none;
    }

    .nav {
        margin-top: 20px;
    }

    #publicity {
        text-align: center;
    }

    .text {
        font-size: 0.6rem;
    }

    .foot {
        font-size: 0.6rem;
    }

    main {
        flex-direction: column;
    }

    section2 {
        width: 100%
    }

    .matching {
        flex-direction: column;
    }

    .matching-p {
        margin-bottom: 10px;
    }

    
    .menu-hamburguer {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
    }

    .computers {
        flex-wrap: wrap;
    }

    .container2 {
        margin: 20px 20px;
        width: 200px;
    }

    .nav-menu3 {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:601px) and (max-width: 767px) {
    .nav-menu2, .nav3, ul.nav-menu {
        display: none;
    }

    #publicity {
        text-align: center;
    }

    .text {
        font-size: 0.7rem;
    }

    main {
        flex-direction: column;
    }

    section2 {
        width: 100%
    }

    .matching {
        flex-direction: column;
    }

    .matching-p {
        margin-bottom: 10px;
    }

    .foot {
        font-size: 0.7rem;
    }

    .menu-hamburguer {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
    }

    .computers {
        flex-wrap: wrap;
    }

    .container2 {
        margin: 20px 20px;
        width: 200px;
    }

    .nav-menu3 {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:768px) and (max-width: 876px) {
    .computers {
        flex-wrap: wrap;
    }

    .container2 {
        margin: 20px 20px;
        width: 200px;
    }

    .nav-menu3 {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1163px) {
    .nav-menu, .nav3, .nav-menu2 {
        display: none;
    }

    main {
        flex-direction: column;
    }

    section2 {
        width: 100%
    }

    .foot{
        font-size: 0.8rem;
    }

    
    .menu-hamburguer {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
    }

    .nav-menu3 {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1164px) and (max-width: 1330px) {
    main {
        flex-direction: column;
    }

    section2 {
        width: 100%;
    }
}